__pycache__/
venv/
/home/iash/University/CITS3200/CITS3200_team_14/venv
venv/pyvenv.cfg
.gitignore
venv/bin/activate.csh
venv/bin/Activate.ps1
venv/bin/flask
venv/bin/pip
venv/bin/pip3
venv/bin/activate.csh
.vscode/settings.json
venv/bin/Activate.ps1
venv/bin/activate.fish
venv/bin/activate.csh
venv/bin/activate
venv/pyvenv.cfg
venv/
database/study_planner.db
__pycache__/
__pycache__/app.cpython-37.pyc
__pycache__/*.pyc
app/__pycache__/
app/*.pyc
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
__pycache__/config.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/Project.cpython-310.pyc
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/forms.cpython-310.pyc
app/__pycache__/models.cpython-310.pyc
app/__pycache__/routes.cpython-310.pyc
