main {
  padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eaeaea; /* UWA background color */
}

.nav-item {
  padding-left: 1rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

h2 {
  border: 1px solid #007bff; /* UWA blue */
  padding: 10px;
  background-color: #007bff; /* UWA blue */
  color: #fff; /* White text on blue background */
}

label {
  display: block;
  margin-bottom: 10px;
}

.select-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.button {
  background-color: #007bff; /* UWA blue */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.unit-planner {
  margin-top: 30px;
}

.unit-info,
.prerequisites {
  background-color: #f2f2f2; /* UWA light gray */
  padding: 20px;
  border: 1px solid #ccc; /* UWA gray */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.unit-info h2,
.prerequisites h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.prerequisites ul {
  list-style-type: disc;
  padding-left: 20px;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}

.my-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.semester {
  border: 1px solid #ccc; /* Subtle gray border */
  /* border-radius: 5px; */
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff; /* White background */
}


/* Style for the custom select dropdown */
.custom-select {
  /* Add a smooth transition effect on hover and focus */
  transition: background-color 0.3s;

  /* Set the initial background color */
  background-color: #fff;
}

/* Change background color on hover for the custom select dropdown */
.custom-select:hover {
  background-color: #f2f2f2; /* Light gray on hover */
}

/* Style for the individual options within the dropdown */
.custom-select option:hover {
  background-color: #007bff; /* Blue on hover for individual options */
  color: #fff; /* White text on hover for individual options */
}

/* Center the login container vertically at the top of the page */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh; /* Ensures the container takes at least the full viewport height */
}

/* Style the form elements */
.form-group {
  margin-bottom: 20px;
  text-align: center;
}

label {
  font-weight: bold;
}

.error-text {
  color: red;
}
