main {
  padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
.nav-item {
  padding-left: 1rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

h2 {
  border: 1px solid #007bff;
  padding: 10px;
  background-color: #007bff;
  color: white;
}

label {
  display: block;
  margin-bottom: 10px;
}

.select-wrapper {
  display: flex;
  flex-direction: column; /* Display label and select vertically */
  margin-bottom: 17px; /* Add margin between elements */
}

.button {
  background-color: #5579C6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.unit-planner {
  margin-top: 30px;
}

.unit-info,
.prerequisites {
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.unit-info h2,
.prerequisites h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.prerequisites ul {
  list-style-type: disc;
  padding-left: 20px;
}

@media (max-width: 600px) {
  .container {
      padding: 10px;
  }
}

select {
  border: solid red;
  background-color: #ffcccc;
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

.select-wrapper {
  position: relative;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
/* Style for the individual options within the dropdown */
.custom-select option:hover {
  background-color: #5579C6; /* Blue on hover for individual options */
  color: #fff; /* White text on hover for individual options */
}

/* Center the login container vertically at the top of the page */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh; /* Ensures the container takes at least the full viewport height */
}

/* Style the form elements */
.form-group {
  margin-bottom: 20px;
  text-align: center;
}

label {
  font-size: 17px;
  font-weight: bold;
}

.error-text {
  color: red;
}


/* Add this to your CSS or inside a <style> block in your template */
.legend-container {
  position: relative;
  text-align: right;
  margin: 10px;
}

.legend-button {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.legend {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close-legend {
  cursor: pointer;
  float: right;
}



/* Color-coded legend styles */
.legend-box {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border: 2px solid black;
}

.legend-pass {
  border: 7px solid green;
  width: 20px;
}

.legend-fail {
  border: 7px solid red;
  width: 20px;
}

.legend-prerequisite {
  border: 7px solid orange;
  width: 20px;
}

.legend-post-requisite {
  border: 7px solid blue;
  width: 20px;
}


/* Center the welcome text */
.welcome-heading {
  text-align: center;
  font-size: 24px; /* Make the welcome text larger */
  margin-top: 20px; /* Add margin for spacing */
}

/* Style for the welcome text */
.welcome-text {
  font-size: 18px; /* Make the welcome text larger */
  margin-bottom: 20px; /* Add margin for spacing */
}

/* Define styles for status boxes */
.status-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}

.green-box {
  background-color: green;
}

.red-box {
  background-color: red;
}

/* Define styles for highlighting text */
.highlight-blue {
  color: blue;
}

.highlight-orange {
  color: orange;
}

select:focus {
  border-color: black;
  border-width: 3.5px; /* Adjust the value to make it thicker or thinner */
}

/* Add vertical margin above and below the dropdown container */
.dropdown-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Add margin between the button and the content below it */
.update-button {
  margin-top: 10px;
}

/* Style for the question mark toggle button */
.question-toggle {
  position: absolute;
  top: 95px; /* Adjust the top position as needed */
  right: 80px; /* Adjust the right position as needed */
}

.question-toggle button {
  background-color: transparent;
  border-width: 2px;
  font-size: 18px;
  cursor: pointer;
}

/* Style for the user manual */
.user-manual {
  display: none;
  position: absolute;
  top: 50px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Ensure it's above other content */
}

/* Style for the close button */
.close-manual-button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Style for the user manual header */
.user-manual-header {
  position: relative;
}



