<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - UWA</title>
        {% else %}
        <title>UWA</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div>
            UWA Study Planner:
            <a href="{{ url_for('index.index_route') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('planner') }}">Planner</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
