{% extends "base.html" %}

{% block title %}
User Guide - UWA
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="welcome-heading">Welcome to the Study Planner User Guide</h1>

    <p class="welcome-text">This user guide will help you make the most out of our Study Planner website. Here, we'll explain how to use the website effectively to plan your academic journey.</p>

    <h2 class="section-heading">Getting Started</h2>
    <p>When you visit our Study Planner, you'll see a list of available units. Each unit is represented by a box with colors indicating its status:</p>
    <ul>
        <li><span class="status-box green-box"></span> - This indicates a completed unit.</li>
        <li><span class="status-box red-box"></span> - This indicates an incomplete unit.</li>
    </ul>

    <p>You can change the status of a unit by clicking on the "x" mark inside the box. Toggle between completed and incomplete as needed.</p>
    <p>To get started, use the drop-down boxes for year and semester selection. Choose the desired year and semester combination, and the page will display all the appropriate units available for that specific semester. </p>
    <p>Additionally, there is a legend conveniently located in the top right corner of the screen, which provides a quick reference for understanding the colors and symbols used on the page. This makes it easy to identify completed, incomplete, prerequisite, and post-requisite units as you plan your academic journey.</p>


    <h2 class="section-heading">Prerequisites and Post-requisites</h2>
    <p>Some units have prerequisites, which are units that you must complete before taking the current unit. These prerequisites are highlighted in <span class="highlight-blue">blue</span>.</p>
    <p>Post-requisites are units that require the current unit as a prerequisite. These are highlighted in <span class="highlight-orange">orange</span>.</p>

    <p>Understanding prerequisites and post-requisites is essential for planning your academic path effectively.</p>

    <h2 class="section-heading">Optimizing Your Plan</h2>
    <p>Our Unit Planner helps you optimize your study plan to graduate in the quickest time possible. By marking completed and incomplete units and understanding prerequisites, you can efficiently plan your academic journey. </p>
    <p>Simply click the 'Optimize Study Plan' button to streamline your academic path and graduate more efficiently.</p>

    <!-- <h2 class="section-heading">Optimizing Your Plan</h2> -->
    <!-- <p></p> -->
    <!-- Add any additional content, explanations, or screenshots as needed -->

</div>
{% endblock %}
