{% extends "base.html" %}

{% block content %}


    <div id="legend-container" class="legend-container">
        <div id="legend" class="legend">
            <h2>Legend</h2>
            <p>Explanation of your webpage content.</p>
            <div class="legend-box legend-pass"></div>Unit Passed
            <div class="legend-box legend-fail"></div>Unit Failed
            <div class="legend-box legend-prerequisite"></div>Prerequisite
            <div class="legend-box legend-post-requisite"></div>Post-Requisite
            <!-- Add more content as needed -->
            <span class="close-legend" onclick="closeLegend()">&#10006;</span>
        </div>
        <div id="legend-button" class="legend-button" onclick="toggleLegend()">&#63;</div>
    </div>


    <h1>Bachelor of Engineering</h1>
    <div class="container text-center">
        
        {% for year in range(1, 5) %}
        <div>
            <h2>Year {{ year }}</h2>
            
            {% for semester in range(1, 3) %}
            <div class="semester">
                <h3>Semester {{ semester }}</h3>
                <table class="table">
                    <tr>
                        <th>Unit 1</th>
                        <th>Unit 2</th>
                        <th>Unit 3</th>
                        <th>Unit 4</th>
                    </tr>
                    <tr>
                        {% set year_key = 'year_' ~ year|string %}
                        {% set semester_key = 'semester_' ~ semester|string %}
                        {% for unit_num in range(1, 5) %}
                        <td>
                            <div class="select-wrapper">
                                <select name="unit{{ unit_num }}_{{ year }}_{{ semester }}" class="unit-select">
                                    {% set default_code = default_plan[year_key][semester_key][unit_num - 1] %}
                                    <option value="{{ default_code }}" selected>{{ default_code }}</option>
                                    {% for code, name, unit_semester, status in all_units %}
                                        {% if code != default_code and (unit_semester == semester or unit_semester == 12) %}
                                            <option value="{{ code }}">{{ code }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <span class="close-icon" onclick="removeSelect(this)">&#10006;</span>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        
        <!-- Submit Button -->
        <div class="submit-button">
            <button type="submit" class="button">Submit</button>
        </div>
    </div>
{% endblock content %}
