{% extends "base.html" %}

{% block content %}
    <h1>Bachelor of Engineering ebebeb}</h1>
    <div class="container text-center">

        <div class="question-toggle">
            <button id="questionButton">?</button>
        </div>
        <div id="userManualContainer" class="user-manual-container">
            <div id="userManual" class="user-manual">
                <div class="user-manual-header">
                    <h2>User Manual</h2>
                    <button id="closeManualButton" class="close-manual-button">×</button>
                </div>
                <p>This is the user manual content. Add your instructions here.</p>
            </div>
        </div>

        <!-- Dropdown munu for starting semester -->
        <div class="dropdown-container">
            <label for="startSemester">Select Start Semester:</label>
            <select id="startSemester" class="start-semester-dropdown">
                <option value="semester1">Semester 1</option>
                <option value="semester2">Semester 2</option>
            </select>
            <button id="updateSemesters" class="update-button">Update Semesters</button>
        </div>

        {% for year in range(1, 5) %}
        <div>
            <h2>Year {{ year }}</h2>
            
            {% for semester in range(1, 3) %}
            <div class="semester">
                <h3>Semester {{ semester }}</h3>
                <table class="table">
                    <tr>
                        <th>Unit 1</th>
                        <th>Unit 2</th>
                        <th>Unit 3</th>
                        <th>Unit 4</th>
                    </tr>
                    <tr>
                        {% set year_key = 'year_' ~ year|string %}
                        {% set semester_key = 'semester_' ~ semester|string %}
                        {% for unit_num in range(1, 5) %}
                        <td>
                            <div class="select-wrapper">
                                <select name="unit{{ unit_num }}_{{ year }}_{{ semester }}" class="unit-select">
                                    {% set default_code = default_plan[year_key][semester_key][unit_num - 1] %}
                                    <option value="{{ default_code }}" selected>{{ default_code }}</option>
                                    {% for code, name, unit_semester, status in all_units %}
                                        {% if code != default_code and (unit_semester == semester or unit_semester == 12) %}
                                            <option value="{{ code }}">{{ code }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <span class="close-icon" onclick="removeSelect(this)">&#10006;</span>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        
        <!-- Submit Button -->
        <div class="submit-button">
            <button type="submit" class="button">Submit</button>
        </div>
    </div>
{% endblock content %}
