{% extends "base.html" %}

{% block title %}
Edit Unit - Unit Planner
{% endblock %}

{% block content %}
<div class="container">
    <h1>Edit Unit Information</h1>

    <!-- Edit form for unit information -->
    <form id="editUnitForm">
        <label for="unitCode">Unit Code:</label>
        <input type="text" id="editUnitCode" name="unitCode" disabled>
        <br> <!-- Add line breaks here -->
        <label for="unitName">Name:</label>
        <input type="text" id="editUnitName" name="unitName">
        <br> <!-- Add line breaks here -->
        <label for="unitPoints">Unit Points Required:</label>
        <input type="text" id="editUnitPoints" name="unitPoints">
        <br> <!-- Add line breaks here -->
        <label for="unitSemester">Semester:</label>
        <input type="text" id="editUnitSemester" name="unitSemester">
        <br> <!-- Add line breaks here -->
        <label for="unitCategory">Category:</label>
        <input type="text" id="editUnitCategory" name="unitCategory">
        <br> <!-- Add line breaks here -->
        <button class="button save-button" id="submitEdit">Save</button>
    </form>
</div>

{% endblock %}
